[submodule "modules/ufw"]
	path = modules/ufw
	url = git@github.com:puppetmodules/puppet-module-ufw.git
[submodule "modules/nginx"]
	path = modules/nginx
	url = git@github.com:example42/puppet-nginx.git
[submodule "modules/puppi"]
	path = modules/puppi
	url = git@github.com:example42/puppi.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git@github.com:example42/puppet-mysql.git
[submodule "modules/php"]
	path = modules/php
	url = git@github.com:saz/puppet-php.git
[submodule "modules/apache"]
	path = modules/apache
	url = git@github.com:example42/puppet-apache.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = git@github.com:puppetlabs/puppetlabs-nodejs
[submodule "modules/apt"]
	path = modules/apt
	url = git@github.com:puppetlabs/puppetlabs-apt
